################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPO/.vs/TPO/v16
/TPO/Toefl_TPO/bin/Debug
/TPO/Toefl_TPO/obj/Debug
